<div class="flex flex-col">
  <div
    class="flex flex-col mb-2 p-4 shadow bg-blue-light text-white"
  >
    <div class="text-3xl">
      {{title}}
    </div>
    <div class="text-sm">
      {{instructions}}
    </div>
  </div>

  <div
    class="flex justify-between item-center mb-2 p-4 shadow bg-blue-lightest"
  >
    <div class="flex-grow mr-4">
      {{ui/desc-input
        value=model.label
        description="Name"
        placeholder="Start typing..."
        update=(action handleUpdate model "label")
      }}
    </div>

    <div class="w-12 mr-4">
      {{ui/desc-input
        value=model.shelfLife
        description="Shelf Life"
        placeholder="Qty..."
        update=(action handleUpdate model "shelfLife")
      }}
    </div>

    <div class="">
      {{#power-select
        selected=model.shelfLifeUom
        options=timeUoms
        onchange=(action handleUpdate model "shelfLifeUom")
      as |uom|
      }}
        {{uom}}
      {{/power-select}}
    </div>
  </div>

  <div class="flex flex-col mb-2 p-4 shadow bg-blue-lightest">
    <label class="is-active-container">

      <input
        type="checkbox"
        class="mr-2 leading-tight"
        checked={{model.isActive}}
        onclick={{action
          (action
            handleUpdate
            model
            "isActive")
          value="target.checked"
        }}
      >

      <span class="text-lg">
        Active
      </span>
    </label>

    <span class="text-sm italic">
      Making things inactive will hide them from lists when convenient. It won"t change data or calculatioins if used by other product or recipes.
    </span>
  </div>

  <div class="flex flex-col mb-2 p-4 shadow bg-blue-lightest">
    <div class="mb-6">
      {{ui/desc-input
        value=model.description
        description="Description"
        placeholder="Start typing..."
        update=(action handleUpdate model "description")
      }}
    </div>

    <div class="mb-6">
      {{ui/desc-text-area
        value=model.note
        description="Instructions/notes"
        placeholder="Instructions/notes..."
        update=(action handleUpdate model "note")
      }}
    </div>

    <div class="mb-6">
      {{ui/desc-input
        value=model.tags
        description="Tags"
        placeholder="Start typing..."
        update=(action handleUpdate model "tags")
      }}
    </div>
  </div>
</div>
